<p align="center">
  <img width="700" height="300" src="escultura-temis.jpg">
</p>

## BÚSQUEDAS ACERCA DEL SECTOR JURÍDICO

Mi primer proyecto se va a basar en poder sacar la información que deseemos a traves de los datos extraídos del buscador 'Google'.

Nos centramos en búsquedas diarias tanto a nivel nacional, Comunidad de Madrid y de un modo más específico, del Corredor del Henares.

Iré especificando de la manera más exhaustiva todos los procesos que llevaré a cabo, para así poder tener una mejor comprensión de lo que estamos realizando.

In [10]:
# Importamos las librerías que vamos a necesitar

import pandas as pd
import numpy as np

### A continuación vamos a establecer la variable con todos los datos, para después convertirlo a dataframe y así poder realizar las consultas que queramos"

In [7]:
data = {'Búsqueda': ['Despacho abogados', 'Abogado Madrid', 'Abogado Alcalá', '¿Cuánto cuesta un abogado?', 'Abogado Torrejón', 'Gabinete jurídico', 'Concurso acreedores', 'Asesoría', 'Última oportunidad', 'Juzgado Alcalá'],
        'Nacional': [700, 1800, 200, 700, 200, 500, 150, 2000, 500, 100],
        'Comunidad de Madrid': [300, 1200, 150, 400, 150, 350, 100, 1400, 350, 80],
        'Corredor del Henares': [50, 200, 50, 80, 50, 70, 30, 200, 70, 30]}

df = pd.DataFrame(data)


df

,Búsqueda,Nacional,Comunidad de Madrid,Corredor del Henares
0,Despacho abogados,700,300,50
1,Abogado Madrid,1800,1200,200
2,Abogado Alcalá,200,150,50
3,¿Cuánto cuesta un abogado?,700,400,80
4,Abogado Torrejón,200,150,50
5,Gabinete jurídico,500,350,70
6,Concurso acreedores,150,100,30
7,Asesoría,2000,1400,200
8,Última oportunidad,500,350,70
9,Juzgado Alcalá,100,80,30

In [8]:
# En este proceso hemos quitado los índices de la izquierda.

df.set_index("Búsqueda")

,Nacional,Comunidad de Madrid,Corredor del Henares
Búsqueda,,,
Despacho abogados,700,300,50
Abogado Madrid,1800,1200,200
Abogado Alcalá,200,150,50
¿Cuánto cuesta un abogado?,700,400,80
Abogado Torrejón,200,150,50
Gabinete jurídico,500,350,70
Concurso acreedores,150,100,30
Asesoría,2000,1400,200
Última oportunidad,500,350,70
Juzgado Alcalá,100,80,30